<html>
    <body style="margin-left: 30px">
        <h1>MyDBS Share Price Prediction</h1>
        <form action="/" method="post">
            <p>Please enter USD to SGD rates (eg 1.4)</p>
            <p><input type="number" step="0.01" name="rates"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
        <p>The predicted price for DBS share using regression is {{result1}}</p>
        <p>The predicted price for DBS share using tree is {{result2}}</p>
        <p>The predicted price for DBS share using randomForest is {{result3}}</p>
        <p>The predicted price for DBS share using gradientBoosting is {{result4}}</p>
        <p>The predicted price for DBS share using svm is {{result5}}</p>
        <p>The predicted price for DBS share using neuralNetwork is {{result6}}</p>
    </body>
</html>